/* div, footer, hr {
  color: #eee;
  background-color: #222;
  border-color: white;
} */

/* #portfolio{
  background-color: #f00;
} */


/* #blog, #blog *{
  background-color: #ddd;
  color: #111;
} */

/* #about{
  background-color: #00f;
} */

hr {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

footer {
  height: 2em;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.centerMargins{
  margin-right: auto;
  margin-left: auto;
  max-width: 100vw;
  overflow-y: scroll;
  overflow-y: overlay;
  overflow-x: hidden;
}

#blog, #login, #blogPost, header, #error404, #social, #about{
  width: 100%;
  max-width: 720px;
}

#blogPost{
  text-align: left;
  padding-bottom: 1rem;
}

.postBody table, .blogPreviewBody table, #blogPostEditor > .row:last-child table {
  min-width: 100%;
}

.postBody td hr, .blogPreviewBody td hr, #blogPostEditor > .row:last-child td hr {
  margin-left: -1px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: -1px;
  border-bottom:  1px solid black;
}

#blogPost h3{
  width: 100%;
}

.blogPostPreview{
  text-align: left;
}

body, .App, .app div{
  overflow-y: hidden;
}

.page {
  height: 78vh;
  overflow-y: scroll;
  overflow-y: overlay;
  padding-top: 2vh;
  text-align: left;
}

header {
  height: 14vh;
  overflow: hidden;
}

/* header .left {
  width: 70%;
} */

header .right {
  width: 30%;
}

header h1{
  margin-top: 0px;
  padding-top: 2vh;
  margin-bottom: 0vh;
  font-size: 4vh;
}



#root {
  overflow-x: hidden;
  overflow-y: hidden;
}

#tumblr {
  width: 100%;
  border: none;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
}

.slideright-enter {
  float: left;
  margin-left: -100%;
}

.slideright-enter.slideright-enter-active {
  display: inline-block;
  width: 100%;
  -webkit-animation: slideInRight 0.5s forwards ease-in-out;
  animation: slideInRight 0.5s forwards ease-in-out;
}

.slideright-exit {
  overflow-y: hidden;
}

.slideright-exit.slideright-exit-active {
  display: inline-block;
  width: 100%;
  overflow-y: hidden;
  -webkit-animation: slideOutRight 0.5s forwards ease-in-out;
  animation: slideOutRight 0.5s forwards ease-in-out;
} /**/

@-webkit-keyframes slideInRight {
  0% { margin-left: -100%; opacity: 0; }
  75% { opacity: 1;}
  100% { margin-left: inherit; opacity: 1; }
}

@keyframes slideInRight {
  0% { margin-left: -100%; opacity: 0; }
  75% { opacity: 1;}
  100% { margin-left: inherit; opacity: 1; }
}

@-webkit-keyframes slideOutRight {
  0% { opacity: 1;}
  75% { opacity: 0;}
  100% { margin-right: -100%; opacity: 0; }
}

@keyframes slideOutRight {
  0% { opacity: 1;}
  75% { opacity: 0;}
  100% { margin-right: -100%;}
}

.slideleft-enter {
  float: right;
  margin-right: -100%;
}

.slideleft-enter.slideleft-enter-active {
  display: inline-block;
  width: 100%;
  -webkit-animation: slideInLeft 0.5s forwards ease-in-out;
  animation: slideInLeft 0.5s forwards ease-in-out;
}

.slideleft-exit {
  overflow-y: hidden;
}

.slideleft-exit.slideleft-exit-active {
  display: inline-block;
  width: 100%;
  overflow-y: hidden;
  -webkit-animation: slideOutLeft 0.5s forwards ease-in-out;
  animation: slideOutLeft 0.5s forwards ease-in-out;
}

@-webkit-keyframes slideInLeft {
  0% { margin-right: -100%; opacity: 1; }
  100% { margin-right: inherit; opacity: 0; }
}

@keyframes slideInLeft {
  0% { margin-right: -100%; opacity: 0; }
  100% { margin-right: inherit; opacity: 1; }
}

@-webkit-keyframes slideOutLeft {
  0% { opacity: 1;}
  100% { margin-left: -100%; opacity: 0; }
}

@keyframes slideOutLeft {
  0% { opacity: 1;}
  100% { margin-left: -100%; opacity: 0; }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border: 2px solid transparent right;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999; 
  border: 1px solid transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* .not-active {
  pointer-events: none;
  cursor: default;
} */



header {
  height: 15vh;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-family: Menlo, Monaco, monospace, "Consolas", "Courier New"
}

header p {
  font-size: 2.13vh;
}

header img{
  display: none;
  margin-top: 1vh;
  max-width: 100%;
  height: auto;
  max-height: 13vh;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.5);
  float: right;
}

/* #headerImage {
  background-image: url("https://pbs.twimg.com/profile_banners/734805529458020353/1516345086/1500x500");
  background-position: center;
  background-size: 100%;
} */

#headerImage > div{
  background-color: #1e1e1e;
}

.left {
  float: left;
}

.right{
  float: right;
}

nav {
  background-color: #f8f8f8;
}

.portfolioProject {
  padding: 2%;

  overflow: hidden;
  text-align: left;
  border: 10px solid white;
  background-color: #f8f8f8
}

.portfolioProject p {
  margin-bottom: 0;
}

.portfolioProject a p {
  margin-top: 5px;
}

.portfolioProject .left {
  width: 70%;
  height: 100%;
}

.portfolioProject .right {
  width: 25%;
  height: 100%;
  position: relative;
}

.portfolioProject .right img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.projectSection {
  margin-bottom: 10vh;
}

#portfolio {
  width: 100%;
  max-width: 1260px;
  padding-left: 15px;
  padding-right: 15px;
}

nav > hr:first-of-type {
  margin-top: 0;
}

nav a {
  color: #dc3545;
}

h2 {
  text-align: left;
}

/* .row {
  margin-left: 0;
  margin-right: 0;
} */

ul, li {
  text-align: left;
}

/* .readMore {
  color: white;
  background-color: #dc3545;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  width: 25%;
  text-align: center;
} */

.readMore, .portfolioProject a {
  margin-top: 15px;
  display: inline-block;
}

.blogPostPreview .badge {
  margin-bottom: 6px;
}

.blogPostPreview h3 {
  width: 100%;
}

a, .failedLoad span, #error404 span{
  color: #dc3545;
}

.failedLoad span:hover, #error404 span:hover{
  color: #0056b3;
  text-decoration: underline;
  cursor: pointer;
}

#blogPost img, .blogPostPreview img {
  /* display: block;
  /* margin-left: auto;
  margin-right: auto; */
  /* float: left; */
  /* max-height: 50vh;
  width: auto;
  max-width: 100%; */ 
  width: 100%;
}

.blogPostPreview {
  margin-bottom: 20px;
}

.blogPreviewBody {
  max-height: 15rem;
  overflow: hidden;
}

.blogPreviewBody h1 {
  font-size: 1.75rem;
}
.blogPreviewBody h2 {
  font-size: 1.5rem;
}
.blogPreviewBody h3 {
  font-size: 1.25rem;
}
.blogPreviewBody h4 {
  font-size: 1rem;
}
.blogPreviewBody h5 {
  font-size: 1rem;
}

.sticky .blogPreviewBody {
  max-height: 20rem;
}

/* .blogPostPreview.sticky::before {
  content: "Sticky Post";
  font-weight: bold;
  font-size: 0.9em;
  float: right;
} */

#adminBar {
  -webkit-box-shadow: 0px 0px 24px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 24px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 24px 2px rgba(0,0,0,0.75);

  background-color: #ffffffdd;
  position: fixed;
  top: 2vh;
  right: 2vh;
  height: 70px;
  width: 260px;
  padding-left: 5px;
  padding-right: 5px;
}

#adminBar p {
  margin-top: 4px;
  margin-bottom: 0px;
}
#adminBar .btn{
  margin-left: 5px;
}

form{
  text-align: left;
}
#login{
  text-align: right;
}

nav hr:last-of-type {
  margin-bottom: 0px;
}

iframe.page {
  width: 100%;
}

#blogPostEditor textarea{
  width: 100%;
  position: relative;
  min-height: 68vh;
  height: 100%;
  resize: none;
  bottom: 1vh;
}

#postEditorToolbar
{
  height: 6vh;
  width: 100%;
}

#postEditorToolbar input[type="text"]
{
  width: 100%;
}

#blogPostEditor img {
  width: 100%;
}

.postTitle{
  font-size: 3rem;
}

.postBody hr {
  border-color: black;
}

.postBody, .blogPreviewBody, #blogPostEditor > .row:last-child {
  font-family: Georgia,serif
}

img.circle {
  border-radius: 50%;
}

#about img.profilePic{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  display: block;
  height: 25vh;
}

/* .social {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.social img {
  padding: 5px;
  height: 7.5vh;
} */

#social img {
  max-width: 250px;
  display: block;
  float: left;
}
#social p a img {
  max-width: 77px;
}
#social p a {
  padding: 5px;
  display: inline-block;
}
#social p {
  display: inline-block;
  line-height: 0px;
  margin-top: -5px;
  margin-left: 5px;
  max-width: 455px;
}
#social {
  padding-top: 3vh;
  padding-bottom: 5vh;
}

iframe {
  width: 100%;
}

@media all and (max-width: 734px) {
  #blog, #blogPost, #login, header, #error404, #social, #about{
    padding-left: 15px;
    padding-right: 15px;
  }

  #social img {
    max-width: 250px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  #social p {
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 261px;
  }

  header {
    height: 8vh;
  }

  header h1 {
    font-size: 3.8vh;
  }

  header p {
    display: none;
  }

  .page {
    height: 84vh;
  }
}