div, footer {
  color: #eee;
  background-color: #222;
}

/* #portfolio{
  background-color: #f00;
} */


/* #blog, #blog *{
  background-color: #ddd;
  color: #111;
} */

/* #about{
  background-color: #00f;
} */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

footer {
  height: 2em;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.blogPost{
  margin-right: auto;
  margin-left: auto;
  max-width: 70vh;
  text-align: left;
}

body, .App, .app div{
  overflow-y: hidden;
}

.page {
  width: 100%;
  height: 84vh;
  overflow-y: overlay;
}

header {
  height: 14vh;
}

header h1{
  margin-top: 0px;
  padding-top: 2vh;
  margin-bottom: 0vh;
  font-size: 4vh;
}

header small{
  display: block;
  margin-top: 1vh;
  padding-bottom: 1vh;
  font-size: 1.7vh;
}

#root {
  overflow-x: hidden;
  overflow-y: hidden;
}

#tumblr {
  width: 100%;
  border: none;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
}

.slideright-enter {
  float: left;
  margin-left: -100%;
}

.slideright-enter.slideright-enter-active {
  display: inline-block;
  width: 100%;
  -webkit-animation: slideInRight 0.5s forwards ease-in-out;
  animation: slideInRight 0.5s forwards ease-in-out;
}

.slideright-exit {
  overflow-y: hidden;
}

.slideright-exit.slideright-exit-active {
  display: inline-block;
  width: 100%;
  overflow-y: hidden;
  -webkit-animation: slideOutRight 0.5s forwards ease-in-out;
  animation: slideOutRight 0.5s forwards ease-in-out;
}

@-webkit-keyframes slideInRight {
  0% { margin-left: -100%; opacity: 0; }
  100% { margin-left: inherit; opacity: 1; }
}

@keyframes slideInRight {
  0% { margin-left: -100%; opacity: 0; }
  100% { margin-left: inherit; opacity: 1; }
}

@-webkit-keyframes slideOutRight {
  0% { opacity: 1;}
  100% { margin-right: -100%; opacity: 0; }
}

@keyframes slideOutRight {
  0% { opacity: 1;}
  100% { margin-right: -100%; opacity: 0; }
}

.slideleft-enter {
  float: right;
  margin-right: -100%;
}

.slideleft-enter.slideleft-enter-active {
  display: inline-block;
  width: 100%;
  -webkit-animation: slideInLeft 0.5s forwards ease-in-out;
  animation: slideInLeft 0.5s forwards ease-in-out;
}

.slideleft-exit {
  overflow-y: hidden;
}

.slideleft-exit.slideleft-exit-active {
  display: inline-block;
  width: 100%;
  overflow-y: hidden;
  -webkit-animation: slideOutLeft 0.5s forwards ease-in-out;
  animation: slideOutLeft 0.5s forwards ease-in-out;
}

@-webkit-keyframes slideInLeft {
  0% { margin-right: -100%; opacity: 1; }
  100% { margin-right: inherit; opacity: 0; }
}

@keyframes slideInLeft {
  0% { margin-right: -100%; opacity: 0; }
  100% { margin-right: inherit; opacity: 1; }
}

@-webkit-keyframes slideOutLeft {
  0% { opacity: 1;}
  100% { margin-left: -100%; opacity: 0; }
}

@keyframes slideOutLeft {
  0% { opacity: 1;}
  100% { margin-left: -100%; opacity: 0; }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border: 2px solid #222 right;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* .not-active {
  pointer-events: none;
  cursor: default;
} */

#portfolio .col-md-8{
  text-align: left;
}

#portfolio .col-md-4
{
  background-image: url('https://i.imgur.com/sVWQUiT.jpg');
  background-position: center center;
  background-size: cover;
}

#portfolio .col-md-12 *{
  background-color: #333;
}

#portfolio .col-md-12 .row{
  height: 100%;
}


#portfolio .col-md-12{
  height: 200px;
  background-color: #333;
}
#portfolio img{
  height: 100%;
  width: auto;
}

#portfolio .col-md-12 .row .col-md-6
{
  height: 100px;
}